# ESP-IDF
build/
sdkconfig
sdkconfig.old

# CMake / Ninja
CMakeCache.txt
CMakeFiles/
*.ninja
.ninja_*

# VS Code
.vscode/
!.vscode/extensions.json
# Dependencies
node_modules/

# Builds
dist/
build/
out/

# Env / secrets
.env
.env.*   # fx .env.local, .env.production

# Logs
*.log

# OS / editor
.DS_Store
.vscode/
.idea/

# Coverage
coverage/
coverage/
